@import "../../styling/variables";
@import "../../styling/mixins";

@mixin Portfolio__ {
  @include flexbox(flex, column, flex-start, 0, 0);
}

@mixin Portfolio__wrapper {
  max-height: 70vh;
  overflow-x: auto;
  @include borderAndRad(0.5rem solid map-get($colors, main), 2rem);
  padding: 1em;
  overflow-y: scroll;

  @include screen(iphoneXR) {
    @include flexbox(flex, column);
  }

  @include screen(iphoneSE) {
    height: 45%;
  }
}

@mixin Portfolio__container {
  @include flexbox(grid, auto, 0, center);
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;

  @media (max-width: 414px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin Portfolio__box {
  position: relative;
  @include flexbox(flex);
  @include borderAndRad(0.4rem solid map-get($colors, main), 2rem);
  box-shadow: 0 0 1rem map-get($colors, main-bg);
  overflow: hidden;

  &:hover {
    .Portfolio__box_h4 {
      color: transparent;
      background: none;
      transition: 0s ease-in-out;
    }
  }

  &:hover {
    .Portfolio__layer {
      transition-delay: 300ms;
      transform: translateY(0);
      background: linear-gradient(rgba(0 0 0 / 0.35), rgba(0 238 221 / 0.25)), rgba(0 0 0 / 0.35);
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
      filter: blur(4px) brightness(0.5);
    }
  }
}

@mixin Portfolio__box_h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  background: rgba(0 0 0/ 0.5);
  font-size: 200%;
  padding: 1rem 2rem;
  border: 0.125em solid white;
  border-radius: 10em;
  filter: drop-shadow(0 0 0.5em rgba(0 0 0/ 0.75));
  transition: 1s ease-in-out all;

  @media (max-width: 414px) {
    font-size: 125% !important;
  }

  @include screen(duo) {
    font-size: 2em;
  }

  @include screen(fold) {
    font-size: 1.25em;
  }
}

@mixin Portfolio__box_img {
  @include heightWidth(auto, 100%);
  @include transition;
  cursor: pointer;
  object-fit: cover;

  &:hover {
    transform: scale(1.1);
    filter: blur(3px);
  }
}

@mixin Portfolio__layer {
  position: absolute;
  inset: 0 0 0 0;
  @include flexbox(flex, column, center, center, 0);
  @include heightWidth(100%, same);
  text-align: center;
  background: linear-gradient(rgba(0 0 0 / 0.35), rgba(0 238 221 / 0.25)), rgba(0 0 0 / 0.35);
  @include padmar(0 4rem, 0);
  transform: translateY(100%);
  @include transition;
  cursor: pointer;
  overflow-y: scroll;

  @include screen(iphone12Pro) {
    @include padmar(0 2rem, 0);
  }

  @include screen(pixel5) {
    padding: 1rem;
  }

  @include screen(fold) {
    padding: 0rem 1rem;
  }
}

@mixin Portfolio__layer_p {
  @include heightWidth(max-content, auto);
  font-size: 1.5rem;
  filter: drop-shadow(0 0 0.1em black);
  padding: 1em 0;
  margin: 0.3rem 0;

  @include screen(iphoneXR) {
    padding-top: 2em;
  }

  @include screen(iphone12Pro) {
    padding-top: 4em;
  }
}

@mixin Portfolio__layer_p_span {
  display: block;
  margin-block: 1em;

  @include screen(fold) {
    height: max-content;
    font-size: 0.75em;
  }
}

@mixin Portfolio__layer_a {
  @include flexbox(inline-flex, row, center, center, 0);
  @include heightWidth(5rem, same);
  background: map-get($colors, text);
  @include borderAndRad(2px solid map-get($colors, main), 100%);

  @include screen(iphoneXR) {
    padding: 2em;
    margin-bottom: 1em;
  }
}
