@import "../../styling/variables";
@import "../../styling/mixins";

.portfolio {
  // background: inherit; // TODO: update
  @include flexbox(flex, column, center, 0, 0);

  h2 {
    text-align: end;
    font-size: 4.5rem;
    margin-bottom: 4rem;
    margin-right: 7rem;
  }

  .heading {
    span {
      @include glowSpan;
    }
  }

  .portfolio-wrapper {
    max-height: 70vh;
    overflow-x: auto;
    @include borderAndRad(0.5rem solid map-get($colors, main), 2rem);
    padding: 6rem 4rem 8rem 6rem;

    .portfolio-container {
      @include flexbox(grid, auto, 0, center);
      grid-template-columns: repeat(1, 1fr);
      gap: 2.5rem;

      .portfolio-box {
        position: relative;
        @include flexbox(flex);
        @include borderAndRad(0.5rem solid map-get($colors, main), 2rem);
        box-shadow: 0 0 1rem map-get($colors, main-bg);
        overflow: hidden;

        &:hover .portfolio-layer {
          transform: translateY(0);
        }

        &:hover img {
          transform: scale(1.1);
          filter: blur(4px) brightness(0.5);
        }

        img {
          @include heightWidth(100%, same);
          @include transition;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            filter: blur(3px);
          }
        }

        .portfolio-layer {
          position: absolute;
          inset: 0 0 0 0;
          @include flexbox(flex, column, center, center, 0);
          @include heightWidth(100%, same);
          text-align: center;
          background: linear-gradient(rgba(0 0 0 / 0.1), rgba(0 238 221 / 0.25));
          @include padmar(0 4rem, 0);
          transform: translateY(100%);
          @include transition;
          cursor: pointer;

          h4 {
            font-size: 3rem;
          }

          p {
            font-size: 1.5rem;
            filter: drop-shadow(0 0 0.1em black);
            margin: 0.3rem 0 1rem;
          }

          a {
            @include flexbox(inline-flex, row, center, center, 0);
            @include heightWidth(5rem, same);
            background: map-get($colors, text);
            @include borderAndRad(2px solid map-get($colors, main), 100%);

            i {
              font-size: 2rem;
              color: map-get($colors, second-bg);
            }
          }
        }
      }
    }
  }
}

@import "./media";
