@import "../../styling/variables";
@import "../../styling/mixins";

@media (max-width: 770px) {
  .home {
    @include flexbox(flex, column-reverse, center, center);

    .home-content {
      @include flexbox(flex, column, center, center);
      margin-top: 10em;

      h3,
      h1,
      p {
        width: 100%;
        text-align: start;
      }
    }
    .social-media,
    .social-media a,
    i {
      @include flexbox(flex, row, center, center);
      width: 100%;
    }
  }
}

@media (max-width: 390px) {
  .home {
    .home-content {
      @include flexbox(flex, 0, flex-start, flex-start);
      margin-top: 1rem;

      h1 {
        width: fit-content;
      }
    }
  }

  .about {
    .btn-container {
      justify-content: center !important;
      align-items: center !important;
    }
  }

  .skills {
    .skills-container {
      .skills-box-header {
        margin-top: 2rem !important;
      }
    }
  }

  .contact {
    .heading {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 375px) {
  .home {
    .home-img {
      img {
        @include heightWidth(30rem, same);
      }
    }
  }
}

@media (max-width: 280px) {
  .home {
    .home-content {
      h3 {
        font-size: 2rem;
      }
      h1 {
        font-size: 4rem;
      }
    }

    .home-img {
      img {
        height: 22rem;
        width: 22rem;
      }
    }
  }
}
