@import "../../styling/variables";
@import "../../styling/mixins";
@import "./mixins";

.home {
  @include home;

  .modal {
    @include modal;

    .modal-content {
      @include modalContent;

      h2 {
        font-size: 2rem;
        padding: 10em auto;
        text-align: center;

        @include screen(ipadAir) {
          font-size: 3rem;
          padding: 1em;
          line-height: 1.5;
        }
      }

      span {
        @include modalSpan;

        &:hover {
          background: red;
          transition: 250ms ease-in-out;
        }
      }
    }
  }

  .home-content {
    display: flex;
    flex-direction: column;

    @include screen(tablet) {
      margin: 0 !important;
    }

    @include screen(tablet) {
      @include flexbox(flex, column, center, center);
      margin-top: 10em;
    }

    @include screen(mobile) {
      @include flexbox(flex, 0, flex-start, flex-start);
      margin-top: 1rem;
    }

    @include screen(laptop) {
      h1,
      h3,
      p {
        width: 100% !important;
        text-align: start;
      }
    }

    .intro {
      @include intro;

      .intro-details {
        @include intro-details;

        h3,
        h1 {
          font-weight: 700;
          width: fit-content !important;
        }

        h3 {
          font-size: 4.5rem;

          @include screen(mobile) {
            font-size: 2rem;
            margin-top: 1em;
          }

          span {
            @include glowSpan;
          }
        }

        h3:nth-of-type(2) {
          margin-bottom: 2rem;

          @include screen(mobile) {
            margin: 0;
            margin-bottom: 2rem;
          }
        }

        h1 {
          @include gradientHeading;

          @include screen(mobile) {
            font-size: 3em;
          }
        }
      }

      p {
        @include intro-details_p;
      }
    }

    .social-media {
      .social-media_icon {
        @include homeIcons;
      }
    }
  }

  .home-img {
    @include home-img;

    img {
      @include home-img_img;
    }
  }
}
