@import "../../../styling/variables";
@import "../../../styling/mixins";

.Paragraph__ {
  @include heightWidth(20rem, 100%);
  background-color: #112;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-indent: 1em;
  @include borderAndRad(0.6rem solid map-get($colors, main), 2rem);
  @include padmar(2rem, 1rem auto);

  &::before,
  &::after {
    content: '"';
    position: relative;
    font-display: auto;
  }

  @include screen(iphoneXR) {
    @include heightWidth(20rem, 100%);
    overflow-y: scroll;
  }
}
