@import "../../styling/variables";
@import "../../styling/mixins";
@import "./media";

.contact {
  @include contact;

  h2 {
    @include contact_h2;
  }

  .yellow-text {
    @include yellow-text;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem !important;
    margin-top: 20%;
    text-align: center;
  }

  form {
    @include form;

    .input-box {
      @include input-box;
    }

    textarea {
      resize: none;
    }

    .btn {
      @include btn;
    }
  }

  // .input-box,
  input,
  textarea {
    @include formSpecific;
  }
}
