@import "../../../styling/variables";
@import "../../../styling/mixins";

.SectionHeading__ {
  width: 100%;
  font-size: 4.5rem;
  margin-bottom: 5rem;

  .SectionHeading__span {
    @include glowSpan;
  }
}

@include screen(iphoneXR) {
  .SectionHeading__ {
    font-size: 3.75em;
    text-align: center;
  }
}

@include screen(iphoneSE) {
  .SectionHeading__ {
    font-size: 3em;
  }
}

@include screen(fold) {
  .SectionHeading__ {
    font-size: 2.25em;
  }
}
