@import "../../styling/variables";
@import "../../styling/mixins";
@import "./mixins";

.header {
  @include header;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-container {
      .title {
        @include logo;
      }
    }

    button {
      background: none;
      
      svg {
        @include icon;
      }
    }

    .navbar {
      @include navbar;

      ul {
        display: flex;

        @include screen(laptop) {
          flex-direction: column;
        }

        li {
          list-style: none;

          a {
            @include navbar_ul_li_a;
          }
        }
      }
    }
  }
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

svg {
  cursor: pointer;

  .line {
    transition: all 0.25s ease-in-out;
    fill: white;
  }

  .line1.open {
    transform: rotate(45deg) translate(6px, -7px);
    width: 16px;
  }

  .line2.open {
    opacity: 0;
  }

  .line3.open {
    transform: rotate(-45deg) translate(-21px, 1px);
    width: 16px;
  }
}
