@import "../../styling/variables";
@import "../../styling/mixins";
@import "./mixins";

.header {
  @include header;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-container {
      .title {
        @include logo;
      }
    }

    button {
      background: none;

      svg {
        @include icon;
      }
    }

    .navbar {
      @include navbar;

      ul {
        display: flex;

        @include screen(laptop) {
          flex-direction: column;
        }

        li {
          list-style: none;

          a {
            @include navbar_ul_li_a;
          }
        }
      }
    }
  }
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

// * Old menu toggle
// svg {
//   cursor: pointer;

//   .line {
//     transition: all 0.25s ease-in-out;
//     fill: white;
//   }

//   .line1.open {
//     transform: rotate(45deg) translate(6px, -7px);
//     width: 16px;
//   }

//   .line2.open {
//     opacity: 0;
//   }

//   .line3.open {
//     transform: rotate(-45deg) translate(-21px, 1px);
//     width: 16px;
//   }
// }

.hamburger {
  cursor: pointer;

  input {
    display: none;

    &:checked + svg {
      transform: rotate(-45deg);

      .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
      }
    }
  }

  svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);

    .line {
      fill: none;
      stroke: white;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 3;
      /* Define the transition for transforming the Stroke */
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
      stroke-dasharray: 12 63;
    }
  }
}
