@import "../../styling/variables";
@import "../../styling/mixins";
@import "./mixins";

.header {
  @include header;

  .logo {
    @include logo;
  }

  .bx-menu-alt-right {
    @include icon;
  }

  .navbar {
    @include navbar;

    ul {
      display: flex;

      @include screen(laptop) {
        flex-direction: column;
      }

      li {
        list-style: none;

        a {
          @include navbar_ul_li_a;
        }
      }
    }
  }
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
