@mixin footer {
  @include flexbox(flex, row, space-between, center, wrap);
  position: fixed;
  inset: auto 0 0 0;
  background: map-get($colors, second-bg);
  box-shadow: 0 0 1rem rgba(0 0 0 / 0.5);
  @include padmar(2rem 9%, 0);
  user-select: none;

  @include screen(iphone12Pro) {
    @include flexbox(flex, column-reverse, space-between, center, wrap);
    gap: 1em;
  }
}

@mixin footer-iconTop_a {
  @include flexbox(inline-flex, row, center, center, 0);
  background: map-get($colors, main);
  @include borderAndRad(null, 100%);
  @include padmar(0.8rem, 0);
  @include transition;

  &:hover {
    box-shadow: 0 0 1rem map-get($colors, main);
  }

  i {
    color: map-get($colors, second-bg);
    font-size: 2.4rem;
  }
}

@media (max-width: 770px) {
  .footer {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .footer {
    .footer-text {
      span {
        display: block;
      }
    }
  }
}
