@import "../../styling/variables";
@import "../../styling/mixins";
@import "./media";

.footer {
  @include footer;

  .footer-text {
    p {
      font-size: 1.6rem;
      text-shadow: 0 0 1rem rgba(0 0 0 / 1);
    }
  }

  .footer-iconTop {
    a {
      @include footer-iconTop_a;
    }
  }
}

.footer {
  * {
    user-select: none;
  }
}
