@import "../../styling/variables";
@import "../../styling/mixins";

@media (max-width: 1200px) {
  .skills {
    .skills-container {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 788px) {
  .skills {
    .heading {
      width: 100%;
      @include flexbox(flex, row, center, center);
      margin: 2rem 4rem;
    }

    .skills-container {
      display: flex;
      align-items: flex-start;
      max-width: 400px;
      margin-inline: auto;

      .skills-box {
        @include heightWidth(auto !important, 40rem !important);
        padding: 0 2rem !important;

        &:hover {
          filter: none;
          transform: none;
        }

        .skills-box-header {
          display: flex;
          width: 100%;
          text-align: center;
          margin: 1rem !important;

          i {
            font-size: 4vh;
          }

          h3 {
            font-size: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1.4rem;
          }
        }
        br {
          display: none;
        }

        .btn-container {
          .btn {
            font-size: 1.4rem;
            padding: 0.5rem 1rem;
            margin: 2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .skills {
    .heading {
      font-size: 3rem;
    }
    .skills-container {
      width: calc(100vw - 2rem);

      .skills-box {
        .skills-box-header {
          i {
            font-size: 3vh !important;
          }
          h3 {
            font-size: 2vh !important;
          }
        }
      }
    }
  }
}
