@import "../../styling/variables";
@import "../../styling/mixins";

.skills {
  @include flexbox(flex, column, flex-start, center, 0);

  h2 {
    margin-bottom: 5rem;
    margin-left: 7rem;
  }

  .heading {
    @include flexbox(flex, row, flex-start, center, 0);
    width: 100%;
    font-size: 4.5rem;

    span {
      @include glowSpan;
    }
  }

  .skills-container {
    @include flexbox(grid, 0, center, center, wrap);
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .skills-box {
      @include flexbox(flex, column, space-evenly);
      @include heightWidth(30rem !important, auto !important);
      background: radial-gradient(rgba(0 0 0 / 0.1), map-get($colors, second-bg));
      @include borderAndRad(0.2rem solid map-get($colors, main), 2rem);
      @include padmar(3rem 2rem 4rem, 0);
      @include transition;

      &:hover {
        filter: drop-shadow(0 0 1em map-get($colors, main));
        transform: scale(1.02);
      }

      .skills-box-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        h3 {
          margin-left: 1rem;
        }

        button {
          margin-inline-start: auto;
          background: transparent;
          border: none;

          .bx:nth-child(3) {
            @include flexbox(flex, 0, center, center);
            color: map-get($colors, main-bg);
            font-size: 4rem;
            background-color: map-get($colors, main);
            @include heightWidth(4rem, same);

            border-radius: 100%;
            margin-left: auto;
          }
        }
      }

      .btn-container {
        margin-inline: auto;
        margin-top: auto;

        .btn {
          position: relative;
          @include flexbox(inline-flex, row center, center, nowrap);
          width: 20rem;
          background: map-get($colors, main-bg);
          font-size: 1.6rem;
          font-weight: 600;
          letter-spacing: 0.1rem;
          color: map-get($colors, main);
          text-shadow: 0 0 1em map-get($colors, main-bg);
          @include borderAndRad(2px solid map-get($colors, main), 10em);
          box-shadow: 0 0 1em map-get($colors, main);
          @include padmar(1rem 2.8rem, 0);
          user-select: none;
          transition: transform 100ms ease-in-out, color 500ms ease-in-out, background-color 500ms ease-in-out, box-shadow 500ms ease-in-out;
          cursor: pointer;

          &::before {
            content: "";
            inset: 120% 0 0 0;
            @include heightWidth(100%, same);
            position: absolute;
            background: map-get($colors, main);
            transform: perspective(2.5em) rotateX(40deg) scale(1, 0.35);
            filter: blur(1em);
            opacity: 0;
            transition: opacity 500ms ease-in-out, top 100ms ease-in-out, transform 500ms ease-in-out;
          }

          &:hover:not(:active) {
            color: map-get($colors, main-bg);
            background-color: map-get($colors, main);
            box-shadow: 0 0 2rem map-get($colors, main);

            &::before {
              opacity: 0.5;
            }
          }

          &:active {
            transform: translateY(2px);

            &::before {
              opacity: 0.7;
              transform: translateY(-2px) perspective(2.5em) rotateX(40deg) scale(1, 0.35);
              z-index: 100;
            }
          }
        }
      }
    }

    i {
      font-size: 7rem;
      color: map-get($colors, main);
    }

    h3 {
      font-size: 2.6rem;
    }

    p {
      font-size: 1.6rem;
      margin: 1rem 0 3rem;
    }
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@import "./media";

.skills-container-other {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: -2rem;
    height: 75%;
    width: 25%;
    border: 4px dashed map-get($colors, main);
    border-right: 0;
    border-bottom: 0;
    border-radius: 3rem 0 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    right: -2rem;
    height: 25%;
    width: 50%;
    border: 4px dashed map-get($colors, main);
    border-top: 0;
    border-left: 0;
    border-radius: 0 0 3rem 0;
  }

  @media (max-width: 788px) {
    display: none;
  }
}

.skills-container-mobile {
  display: none;

  @media (max-width: 788px) {
    display: block;
  }
}
