@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import "./variables";

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  user-select: text;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: map-get($colors, text);
  background:linear-gradient(176deg, rgba(17, 17, 34, 1) 25%, rgba(0, 38, 55, 1) 100%);}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
