@import "./variables";
@import "./mixins";

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 990px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .contact {
    @include flexbox(flex, column, center, center, 0);
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 770px) {
  .header {
    width: 100%;

    .bx-menu-alt-right {
      font-size: 2.6rem;
      display: block;
      color: white;
    }
  }

  .navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: map-get($colors, main-bg);
    border-top: 0.1rem solid rgba(0 0 0 /0.2);
    box-shadow: 0 0.5rem 1rem rgba(0 0 0 /0.2);
    @include transition;

    a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }
  }

  .navbar.active {
    display: block;
  }

  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .home-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10em;

      h3,
      h1,
      p {
        width: 100%;
        text-align: start;
      }
    }
    .social-media,
    .social-media a,
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .about,
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about {
    .about-img {
      display: none;
    }
    .about-content {
      p {
        padding: 0 2rem;
      }
    }
  }

  .skills {
    .heading {
      width: 100%;
      margin: 2rem 4rem;
      padding-left: 3rem;
    }

    .skills-container {
      display: flex;

      .skills-box {
        height: 35rem;
        padding: 0 2rem !important;

        .skills-box-header {
          display: flex;
          width: 100%;
          text-align: center;
          @include p0m0;

          i {
            font-size: 6rem;
          }

          h3 {
            font-size: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1.4rem;
          }
        }
        br {
          display: none;
        }

        .btn-container {
          .btn {
            font-size: 1.4rem;
            padding: 0.5rem 1rem;
            margin: 2rem;
          }
        }
      }
    }
  }

  .portfolio {
    .portfolio-wrapper {
      border: none;
      padding: 0;
      height: 100%;
      overflow: inherit;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .home {
    .home-img {
      img {
        @include heightWidth(30rem, same);
      }
    }
  }
  .portfolio {
    .heading {
      display: flex;
      justify-content: center;
      width: 100%;

      span {
        margin-left: 1rem;
      }
    }
  }

  .footer {
    .footer-text {
      span {
        display: block;
      }
    }
  }
}

@media (max-width: 280px) {
  .home {
    .home-content {
      h3 {
        font-size: 2rem;
      }
      h1 {
        font-size: 4rem;
      }
    }

    .home-img {
      img {
        height: 22rem;
        width: 22rem;
      }
    }
  }

  .about {
    .about-content {
      .heading {
        font-size: 4rem;
      }

      h3 {
        font-size: 4rem;
      }
      p {
        text-align: center;

        &:nth-of-type(2) {
          font-size: 1.3em;
        }
      }
    }
  }

  .skills {
    .heading {
      width: 100%;
      font-size: 3rem;
      margin: 2rem auto;
    }
  }

  .portfolio {
    .heading {
      font-size: 3rem;
    }
  }

  .contact {
    .heading {
      font-size: 3rem;
    }

    form {
      .input-box {
        input {
          font-size: 1.25rem;
        }
      }

      textarea {
        font-size: 1.25rem;
      }
    }
  }
}
