@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  user-select: text;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #112;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  width: 1.5rem;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: linear-gradient(176deg, rgb(17, 17, 34) 25%, rgb(0, 38, 55) 100%);
  margin-block: 7.5rem auto;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 38, 55);
  border: 1px solid black;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 68, 85);
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 2rem 9%;
  margin: 0;
  background: inherit;
  z-index: 100;
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.header .bx-menu {
  font-size: 3.6rem;
  color: #fff;
  display: none;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 4rem;
  transition: 250ms ease-in-out;
}
.header .navbar a:hover {
  color: #0ef;
  filter: drop-shadow(0 0 0.5rem #0ef);
}
.header .navbar a.active {
  color: #0ef;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(176deg, rgb(17, 17, 34) 25%, rgb(0, 38, 55) 100%);
}
.home .home-content h3,
.home .home-content h1 {
  font-weight: 700;
}
.home .home-content h3 {
  font-size: 3.2rem;
}
.home .home-content h3 span {
  color: #0ef;
  text-shadow: 0 0 2rem black;
  filter: drop-shadow(0 0 0.25rem #0ef);
}
.home .home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home .home-content h1 {
  height: auto;
  width: fit-content;
  font-size: 5.6rem;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 1.3;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.25));
}
.home .home-content p {
  height: auto;
  width: 75%;
  font-size: 1.6rem;
}
.home .home-content .social-media {
  user-select: none;
}
.home .home-content .social-media a {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  color: #0ef;
  background: transparent;
  box-shadow: 0 0 1rem #0ef inset;
  border: 0.2rem solid #0ef;
  border-radius: 100%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 250ms ease-in-out;
  user-select: none;
}
.home .home-content .social-media a:hover {
  background-color: #0ef;
  color: #323946;
  box-shadow: 0 0 1.5rem #0ef, 0 0 1rem #323946 inset;
  transform: scale(1.25);
  transition: 250ms ease-in-out;
}
.home .home-content .social-media a:active {
  filter: brightness(0.75);
}
.home .home-content .social-media a .bx {
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 2;
  user-select: none;
}
.home .home-content .btn {
  display: inline-flex;
  position: relative;
  background: #112;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #0ef;
  text-shadow: 0 0 1em #112;
  border: 2px solid #0ef;
  border-radius: 10em;
  box-shadow: 0 0 1em #0ef;
  padding: 1rem 2.8rem;
  margin: 0;
  user-select: none;
  transition: transform 100ms ease-in-out;
}
.home .home-content .btn::before {
  content: "";
  inset: 120% 0 0 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #0ef;
  transform: perspective(2.5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0;
  transition: opacity 500ms ease-in-out, top 100ms ease-in-out;
}
.home .home-content .btn:hover:not(:active) {
  color: #112;
  background-color: #0ef;
  box-shadow: 0 0 2rem #0ef;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out, box-shadow 500ms ease-in-out;
}
.home .home-content .btn:hover:not(:active)::before {
  opacity: 0.5;
}
.home .home-content .btn:active {
  transform: translateY(2px);
  transition: none;
}
.home .home-content .btn:active::before {
  opacity: 0.7;
  transform: translateY(-2px) perspective(2.5em) rotateX(40deg) scale(1, 0.35);
}
.home .home-img img {
  height: 35rem;
  width: 35rem;
  border: 0.5rem solid #0ef;
  border-radius: 100%;
  box-shadow: 0 0 2rem #0ef;
  user-select: none;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.home .home-img img:hover {
  transform: scale(1.02);
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(176deg, rgb(0, 38, 55) 25%, rgb(17, 17, 34) 55%);
  gap: 18rem;
}
.about .about-img img {
  height: 35rem;
  width: 35rem;
  border: 0.5rem solid #0ef;
  border-radius: 100%;
  box-shadow: 0 0 2rem #0ef;
  user-select: none;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.about .about-img img:hover {
  transform: scale(1.02);
}
.about .about-content .heading {
  font-size: 4.5rem;
}
.about .about-content .heading span {
  color: #0ef;
  text-shadow: 0 0 2rem black;
  filter: drop-shadow(0 0 0.25rem #0ef);
}
.about .about-content h2 {
  line-height: 1.2;
}
.about .about-content h3 {
  height: fit-content;
  width: fit-content;
  font-size: 5.6rem;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 1.3;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.25));
}
.about .about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.about .about-content .btn {
  display: inline-flex;
  position: relative;
  background: #112;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #0ef;
  text-shadow: 0 0 1em #112;
  border: 2px solid #0ef;
  border-radius: 10em;
  box-shadow: 0 0 1em #0ef;
  padding: 1rem 2.8rem;
  margin: auto;
  user-select: none;
  transition: transform 100ms ease-in-out;
}
.about .about-content .btn::before {
  content: "";
  position: absolute;
  background: #0ef;
  inset: 120% 0 0 0;
  height: 100%;
  width: 100%;
  transform: perspective(2.5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0;
  transition: opacity 500ms ease-in-out, top 100ms ease-in-out;
}
.about .about-content .btn:hover:not(:active) {
  color: #112;
  background-color: #0ef;
  box-shadow: 0 0 2rem #0ef;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out, box-shadow 500ms ease-in-out;
}
.about .about-content .btn:hover:not(:active)::before {
  opacity: 0.5;
}
.about .about-content .btn:active {
  transform: translateY(2px);
  transition: none;
}
.about .about-content .btn:active::before {
  opacity: 0.7;
  transform: translateY(-2px) perspective(2.5em) rotateX(40deg) scale(1, 0.35);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills h2 {
  margin-bottom: 5rem;
}
.skills .heading {
  font-size: 4.5rem;
}
.skills .heading span {
  color: #0ef;
  text-shadow: 0 0 2rem black;
  filter: drop-shadow(0 0 0.25rem #0ef);
}
.skills .skills-container {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.skills .skills-container .skills-box {
  flex: 1 1 20rem;
  background: radial-gradient(rgba(0, 0, 0, 0.1), #323946);
  border: 0.2rem solid #0ef;
  border-radius: 2rem;
  padding: 3rem 2rem 4rem;
  margin: 0;
  transition: 250ms ease-in-out;
}
.skills .skills-container .skills-box:hover {
  filter: drop-shadow(0 0 1em #0ef);
  transform: scale(1.02);
}
.skills .skills-container i {
  font-size: 7rem;
  color: #0ef;
}
.skills .skills-container h3 {
  font-size: 2.6rem;
}
.skills .skills-container p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.portfolio h2 {
  font-size: 4.5rem;
  margin-bottom: 4rem;
}
.portfolio .heading span {
  color: #0ef;
  text-shadow: 0 0 2rem black;
  filter: drop-shadow(0 0 0.25rem #0ef);
}
.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfolio .portfolio-container .portfolio-box {
  position: relative;
  display: flex;
  border: 0.5rem solid #0ef;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #112;
  overflow: hidden;
}
.portfolio .portfolio-container .portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio .portfolio-container .portfolio-box img {
  height: 100%;
  width: 100%;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.portfolio .portfolio-container .portfolio-box img:hover {
  transform: scale(1.1);
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer {
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 238, 221, 0.25));
  padding: 0 4rem;
  margin: 0;
  transform: translateY(100%);
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
  font-size: 2.5rem;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer p {
  font-size: 1.25rem;
  margin: 0.3rem 0 1rem;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer a {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  background: #fff;
  border: 2px solid #0ef;
  border-radius: 100%;
}
.portfolio .portfolio-container .portfolio-box .portfolio-layer a i {
  font-size: 2rem;
  color: #323946;
}

.contact h2 {
  text-align: center;
  font-size: 4.5rem;
  margin: 3rem;
}
.contact h2 span {
  color: #0ef;
  text-shadow: 0 0 2rem black;
  filter: drop-shadow(0 0 0.25rem #0ef);
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.contact form .input-box input {
  display: flex;
  gap: 1rem;
}
.contact form textarea {
  resize: none;
}
.contact form .input-box input,
.contact form textarea {
  height: auto;
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  background: #323946;
  box-shadow: 0 0 1rem #0ef;
  border: 1px solid #0ef;
  border-radius: 0.8rem;
  padding: 1.5rem;
  margin: 0.7rem 0;
}

.btn {
  display: inline-flex;
  position: relative;
  background: #112;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #0ef;
  text-shadow: 0 0 1em #112;
  border: 2px solid #0ef;
  border-radius: 10em;
  box-shadow: 0 0 0.5em #0ef;
  padding: 1rem 2.8rem;
  margin: 1rem;
  user-select: none;
  transition: transform 100ms ease-in-out;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  background: #0ef;
  inset: 120% 0 0 0;
  height: 100%;
  width: 100%;
  transform: perspective(2.5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0;
  transition: opacity 500ms ease-in-out, top 100ms ease-in-out;
}
.btn:hover:not(:active) {
  color: #112;
  background-color: #0ef;
  box-shadow: 0 0 2rem #0ef;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out, box-shadow 500ms ease-in-out;
}
.btn:hover:not(:active)::before {
  opacity: 0.5;
}
.btn:active {
  transform: translateY(2px);
  transition: none;
}
.btn:active::before {
  opacity: 0.7;
  transform: translateY(-2px) perspective(2.5em) rotateX(40deg) scale(1, 0.35);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #323946;
  padding: 2rem 9%;
  margin: 0;
}
.footer .footer-text p {
  font-size: 1.6rem;
}
.footer .footer-iconTop a {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0ef;
  border-radius: 100%;
  padding: 0.8rem;
  margin: 0;
  transition: 250ms ease-in-out;
}
.footer .footer-iconTop a:hover {
  box-shadow: 0 0 1rem #0ef;
}
.footer .footer-iconTop a i {
  color: #323946;
  font-size: 2.4rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 990px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
}
@media (max-width: 770px) {
  .header {
    width: 100%;
  }
  .header .bx-menu {
    display: block;
    color: white;
  }
  .navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: #112;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 250ms ease-in-out;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .navbar.active {
    display: block;
  }
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .home .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
  }
  .about,
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skills .skills-container {
    flex-wrap: wrap;
  }
  .skills .skills-container .skills-box {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    padding: 1rem;
  }
  .skills .skills-container .skills-box i {
    font-size: 3rem;
  }
  .skills .skills-container .skills-box h3 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .skills .skills-container .skills-box p {
    font-size: 1.4rem;
  }
  .skills .skills-container .skills-box .btn {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
