@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  user-select: text;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: linear-gradient(176deg, rgb(17, 17, 34) 25%, rgb(0, 38, 55) 100%);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 9%;
  z-index: 100;
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.header #menu-icon {
  font-size: 3.6rem;
  color: #fff;
  display: none;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 4rem;
  transition: 300ms ease-in-out;
}
.header .navbar a:hover {
  color: #0ef;
  filter: drop-shadow(0 0 0.5rem #0ef);
}
.header .navbar a.active {
  color: #0ef;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-content h3,
.home .home-content h1 {
  font-weight: 700;
}
.home .home-content h3 {
  font-size: 3.2rem;
}
.home .home-content h3 span {
  color: #0ef;
  text-shadow: 0 0 2rem black;
  filter: drop-shadow(0 0 0.25rem #0ef);
}
.home .home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home .home-content h1 {
  width: fit-content;
  font-size: 5.6rem;
  line-height: 1.3;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.25));
}
.home .home-content p {
  font-size: 1.6rem;
  width: 75%;
}
.home .home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  color: #0ef;
  background: transparent;
  box-shadow: 0 0 1rem #0ef inset;
  border: 0.2rem solid #0ef;
  border-radius: 100%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 150ms ease-in-out;
}
.home .home-content .social-media a:hover {
  background-color: #0ef;
  color: #323946;
  box-shadow: 0 0 1.5rem #0ef, 0 0 1rem #323946 inset;
  transition: 150ms ease-in-out;
}
.home .home-content .social-media a:active {
  filter: brightness(0.75);
}
.home .home-content .social-media a .bx {
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 2;
}
.home .home-content .btn {
  display: inline-flex;
  position: relative;
  background: #112;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #0ef;
  text-shadow: 0 0 1em #112;
  border: 2px solid #0ef;
  border-radius: 10em;
  box-shadow: 0 0 1em #0ef;
  padding: 1rem 2.8rem;
  user-select: none;
  transition: transform 100ms ease-in-out;
}
.home .home-content .btn::before {
  content: "";
  position: absolute;
  background: #0ef;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  transform: perspective(2.5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0;
  transition: opacity 500ms ease-in-out, top 100ms ease-in-out;
}
.home .home-content .btn:hover:not(:active) {
  color: #112;
  background-color: #0ef;
  box-shadow: 0 0 2rem #0ef;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out, box-shadow 500ms ease-in-out;
}
.home .home-content .btn:hover:not(:active)::before {
  opacity: 0.5;
}
.home .home-content .btn:active {
  transform: translateY(2px);
  transition: none;
}
.home .home-content .btn:active::before {
  opacity: 0.7;
  transform: translateY(-2px) perspective(2.5em) rotateX(40deg) scale(1, 0.35);
}
.home .home-img img {
  height: 35rem;
  width: 35rem;
  border: 0.5rem solid #0ef;
  border-radius: 100%;
  box-shadow: 0 0 2rem #0ef;
  user-select: none;
}

/*# sourceMappingURL=style.css.map */
