@import "../../../styling/variables";
@import "../../../styling/mixins";

.Img__ {
  @include heightWidth(35rem, same);
  @include borderAndRad(0.5rem solid map-get($colors, main), 100%);
  box-shadow: 0 0 2rem map-get($colors, main);
  user-select: none;
  @include transition;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  @include screen(laptop) {
    margin-bottom: 3em;
  }

  @include screen(ipadAir) {
    max-width: 40rem;
    min-width: 25rem;
    max-height: 40rem;
    min-height: 25rem;
    margin-bottom: 2em;
  }

  @include screen(duo) {
    max-width: 22em;
    min-width: 15em;
    max-height: 22em;
    min-height: 15em;
  }

  @include screen(iphoneSE) {
    margin-top: 0;
  }

  @include screen(fold) {
    max-width: 20em;
    max-height: 20em;
    min-width: 15em;
    min-height: 15em;
  }
}
